.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: 1px solid #f00;
}

.error-message {
  color: #f00;
}

.active-filter {
  background-color: aquamarine;
}